@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

nav {
  padding: 2rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-size: 2rem;
  font-weight: 500;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-links a:hover {
  color: #8b8989;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.hero-section {
  padding: 7rem 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.profile-picture {
  width: 300px;
  height: 300px;

  border-radius: 50%;
}

.right-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-section .hero-hello {
  font-size: 1rem;
  font-weight: 500;
}

.hero-designation {
  font-size: 1.6rem;
  font-weight: 500;
  color: #353333;
}

.secondary-button {
  border: 2px solid #353333;
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  font-weight: bold;
}
.secondary-button:hover {
  border: 2px solid transparent;
  color: white;
  background-color: black;
}

.primary-button {
  background-color: #353333;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  color: white;
  font-weight: bold;
  margin-left: 1rem;
  border: 2px solid #353333;
}
.primary-button:hover {
  background-color: black;
}

/* about section */

section {
  padding: 4rem 10rem;
}

.section-subtitle {
  font-size: 1rem;
  color: #353333;
  text-align: center;
  font-weight: 600;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 0.5rem;
}

.about-content {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.about-picture {
  width: 400px;
  height: 400px;
  border-radius: 10%;
}
.about-right-up {
  display: flex;
  gap: 3rem;
}

.about-experience,
.about-education {
  border: 2px solid #353333;
  border-radius: 1.5rem;
  padding: 2rem 5rem;
  text-align: center;
  font-weight: 500;
}

.about-experience > *,
.about-education > * {
  margin-top: 8px;
}

.about-right-down {
  margin-top: 3rem;
  line-height: 1.5;
  font-weight: 500;
}

/* Experience section */

.experience-content {
  display: flex;

  margin-top: 5rem;
  justify-content: space-between;
}

.experience-left,
.experience-right {
  border: 2px solid #353333;
  border-radius: 2rem;
  padding: 3rem 7rem;
}

.experience-title {
  margin-bottom: 2rem;
  color: #353333;
  text-align: center;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.skill .skill-name {
  font-weight: 700;
  margin-bottom: 0.3rem;
}

/* projects section */

.project-content {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 0 4rem;
}
.project-container {
  border: 1px solid #353333;
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  text-align: center;
}

.project-img {
  width: 230px;
  height: 230px;
  border-radius: 1.5rem;
  object-fit: cover;
}

.project-title{
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.project-buttons{
  display: flex;
  gap: 1rem;
}
